<ion-header>
  <ion-toolbar>
    <ion-title>
     Add Admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="" [formGroup]="addAdminForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngIf="data == 'edit'">
          <ion-item disabled="true">
            <ion-input type="text" label="Name" [(ngModel)]="name" labelPlacement="floating" formControlName="name"  placeholder="Enter name"
            [ngClass]="{ 'is-invalid': submitted && addf['name'].errors }">
            </ion-input>
          </ion-item> 
          <div *ngIf="submitted && addf['name'].errors" class="ion-padding-start invalid-feedback">
            <div *ngIf="addf['name'].errors['required']">name is required</div>
          </div>
        </ion-col >
        <ion-col size="12" *ngIf="data !== 'edit'">
          <ion-item >
            <ion-input  type="text" label="Name" labelPlacement="floating" formControlName="name"  placeholder="Enter name"
            [ngClass]="{ 'is-invalid': submitted && addf['name'].errors }">
            </ion-input>
          </ion-item> 
          <div *ngIf="submitted && addf['name'].errors" class="ion-padding-start invalid-feedback">
            <div *ngIf="addf['name'].errors['required']">name is required</div>
          </div>
        </ion-col>    
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="data == 'edit'">
          <ion-item disabled="true">
            <ion-label>Select Region </ion-label>
            <!-- (ionChange)="afterSelect($event)" -->
            <ion-select  formControlName="id_region" justify="end" interface="popover" [(ngModel)]="region"  > 
              <ion-select-option value="0" >All</ion-select-option>
              <ion-select-option *ngFor="let option of regionList" [value]="option.id_region">{{ option.region_name }}</ion-select-option>
            </ion-select>
          </ion-item> 
          <div *ngIf="submitted && addf['id_region'].errors" class="ion-padding-start invalid-feedback">
            <div *ngIf="addf['id_region'].errors['required']">Please select region</div>
          </div>
        </ion-col>
        <ion-col size="12" *ngIf="data !== 'edit'">
        <ion-item>
          <ion-label>Select Region </ion-label>
          <!-- (ionChange)="afterSelect($event)"  -->
          <ion-select  formControlName="id_region" justify="end" interface="popover" [(ngModel)]="selectedOption"  > 
            <ion-select-option value="0" >All</ion-select-option>
            <ion-select-option *ngFor="let option of regionList" [value]="option.id_region">{{ option.region_name }}</ion-select-option>
          </ion-select>
        </ion-item> 
        <div *ngIf="submitted && addf['id_region'].errors" class="ion-padding-start invalid-feedback">
          <div *ngIf="addf['id_region'].errors['required']">Please select region</div>
        </div>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="data == 'edit'">
          <ion-item disabled="true">
            <ion-input label="Username" [(ngModel)]="username" type="text" labelPlacement="floating" formControlName="username" placeholder="Enter username">
            </ion-input>
          </ion-item>
          <div *ngIf="submitted && addf['username'].errors" class="ion-padding-start invalid-feedback">
            <div *ngIf="addf['username'].errors['required']">Username is required</div>
          </div>
        </ion-col>
        <ion-col size="12" *ngIf="data !== 'edit'">
          <ion-item>
            <ion-input label="Username" type="text" labelPlacement="floating" formControlName="username" placeholder="Enter username">
            </ion-input>
          </ion-item>
          <div *ngIf="submitted && addf['username'].errors" class="ion-padding-start invalid-feedback">
            <div *ngIf="addf['username'].errors['required']">Username is required</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" >
          <ion-item>
            <ion-input label="Password" type="password" labelPlacement="floating" formControlName="password" placeholder="Enter password">
            </ion-input>
          </ion-item>
          <div *ngIf="submitted && addf['password'].errors" class="ion-padding-start invalid-feedback">
            <div *ngIf="addf['password'].errors['required']">Password is required</div>
            <div *ngIf="addf['password'].errors['minlength']">Password must be at least 4 characters</div>    
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="data == 'edit'">
          <ion-item disabled="true">
            <ion-input label="Mobile" [(ngModel)]="mobile" type="text" labelPlacement="floating" formControlName="mobile_no" placeholder="Enter mobile number">
            </ion-input>
          </ion-item>
          <div *ngIf="submitted && addf['mobile_no'].errors" class="ion-padding-start invalid-feedback">
             <div *ngIf="addf['mobile_no'].errors['required']">Mobile number is required</div>
          </div>
        </ion-col>
        <ion-col size="12" *ngIf="data !== 'edit'">
          <ion-item>
            <ion-input label="Mobile" type="text" labelPlacement="floating" formControlName="mobile_no" placeholder="Enter mobile number">
            </ion-input>
          </ion-item>
          <div *ngIf="submitted && addf['mobile_no'].errors" class="ion-padding-start invalid-feedback">
             <div *ngIf="addf['mobile_no'].errors['required']">Mobile number is required</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="data == 'edit'">
          <ion-item disabled="true">
            <ion-input label="Email" [(ngModel)]="email" type="text" labelPlacement="floating" formControlName="email" placeholder="Enter email">
            </ion-input>
          </ion-item>
          <div *ngIf="submitted && addf['email'].errors" class="ion-padding-start invalid-feedback">
             <div *ngIf="addf['email'].errors['required']">Email is required</div>
          </div>
        </ion-col>
        <ion-col size="12" *ngIf="data !== 'edit'">
          <ion-item>
            <ion-input label="Email" type="text" labelPlacement="floating" formControlName="email" placeholder="Enter email">
            </ion-input>
          </ion-item>
          <div *ngIf="submitted && addf['email'].errors" class="ion-padding-start invalid-feedback">
             <div *ngIf="addf['email'].errors['required']">Email is required</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="data == 'edit'">
          <ion-item disabled="true">
            <ion-textarea label="Address" [(ngModel)]="address" type="text" labelPlacement="floating" formControlName="address" placeholder="Enter address">
            </ion-textarea>
          </ion-item>
          <div *ngIf="submitted && addf['address'].errors" class="ion-padding-start invalid-feedback">
            <div *ngIf="addf['address'].errors['required']">Adress is required</div>
          </div>
        </ion-col>
        <ion-col size="12" *ngIf="data !== 'edit'">
          <ion-item>
            <ion-textarea label="Address" type="text" labelPlacement="floating" formControlName="address" placeholder="Enter address">
            </ion-textarea>
          </ion-item>
          <div *ngIf="submitted && addf['address'].errors" class="ion-padding-start invalid-feedback">
            <div *ngIf="addf['address'].errors['required']">Adress is required</div>
          </div>
        </ion-col>
      </ion-row>
      <div class="flex_container">
        <ion-button type="submit"  class="ion-margin" *ngIf="data !== 'edit'">Create</ion-button> 
        <ion-button type="button" (click)="updateAdmin()" class="ion-margin" *ngIf="data == 'edit'">Save</ion-button> 
        <ion-button  color="danger" (click)="closeModal()" class="ion-margin">Cancel</ion-button> 
      </div>
    </ion-grid>
  </form>
</ion-content>


