// .is-invalid {
//     border: 1px solid red;
//     color: red;
//     background-color: aqua;
//   }

//   .invalid-feedback {
//     color: red; /* Set text color to red */
//     font-size: 14px; /* Adjust font size */
//     margin-top: 5px; /* Add some spacing between the input and the error message */
//   }