<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding">
  <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <div>
      <ion-item>
        <ion-input formControlName="username" labelPlacement="floating" type="text" placeholder="username" 
        class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
        </ion-input>
      </ion-item>
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
      </div>
      <ion-item class="ion-margin-top">
        <ion-input formControlName="password" labelPlacement="floating" type="password" placeholder="password"
        class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
        </ion-input>
      </ion-item> 
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']">Password must be at least 4 characters</div>    
      </div>
         <ion-button type="submit" class="ion-margin">login</ion-button>      
    </div>
  </form>
</ion-content>
