<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>

  <!-- <ion-content>
    Your main content goes here
    <ion-icon name="chevron-down-outline" (click)="openBottomDrawer()"></ion-icon>
  </ion-content> -->
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <!-- Your menu items go here -->
        <ion-list>
          <ion-item (click)="openPage('home')">home</ion-item>
          <ion-item (click)="openPage('admin-master')">Admin Master</ion-item>
          <!-- Add more menu items as needed -->
        </ion-list>
      </ion-content>
    </ion-menu>
  



