<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>admin-master</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
  <ion-card class="list-card" *ngFor="let col of adminList" >
          <ion-card-content>
            <ion-toolbar>
              <ion-buttons slot="primary">
                <ion-button size="small" fill="outline" (click)="addAdmin('edit',col)">
                  Edit
                  <ion-icon slot="end" name="create"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <div class="key-val">
                    <ion-label class="key">{{col['name']}}</ion-label>
                    <ion-label class="val">Name</ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <div class="key-val">
                    <ion-label class="key">{{col['username']}}</ion-label>
                    <ion-label class="val">Username</ion-label>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="key-val">
                    <ion-label class="key">{{col['id_region']}}</ion-label>
                    <ion-label class="val">Region</ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addAdmin()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
