<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
    <ion-buttons slot="start">
      <!-- <ion-icon name="menu-outline" (click)="onClick()" ></ion-icon> -->
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="log-out-outline" (click)="logOut()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-end ion-no-padding">
       <h4>Select Region</h4>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col size="12">
        <ion-item>
          <!-- <ion-label>Choose an option</ion-label > -->
          <ion-select justify="end" interface="popover" [(ngModel)]="selectedOption" (ionChange)="afterSelect($event)" *ngIf="id_RegionLocal==0" > 
            <ion-select-option value="0" >All</ion-select-option>
            <ion-select-option *ngFor="let option of regionList" [value]="option.id_region">{{ option.region_name }}</ion-select-option>
          </ion-select>
          <ion-select justify="end" interface="popover" [(ngModel)]="selectedOption" (ionChange)="afterSelect($event)" *ngIf="id_RegionLocal>=1" > 
            <ion-select-option value="0" disabled>All</ion-select-option>
            <ion-select-option  disabled *ngFor="let option of regionList" [value]="option.id_region">{{ option.region_name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="desiganation==1">
      <ion-col size="6" *ngFor="let col of dashbordResponse ">
        <ion-card class="ion-no-margin" (click)="cardClick(col)">
          <ion-card-header>
            <ion-card-title>{{col.count}}</ion-card-title>
            <ion-card-subtitle>{{col.status}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="desiganation==3">
      <ion-col size="6" *ngFor="let col of dashbordResponse ">
        <ion-card class="ion-no-margin" (click)="cardClick(col)">
          <ion-card-header>
            <ion-card-title>{{col.count}}</ion-card-title>
            <ion-card-subtitle>{{col.status}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

