<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{status}} </ion-title>
    <ion-buttons slot="start">
      <!-- <ion-icon name="menu-outline" (click)="onClick()" ></ion-icon> -->
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="log-out-outline" (click)="logOut()"></ion-icon>
      <!-- <ion-icon (click)="closeDrawer()" slot="icon-only" name="close"></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Your page content goes here -->
  <p>This is the content of the sr-list.</p>
</ion-content>
